.game-history-connector {
    width: 5px;
    height: 50px;
    margin: auto;
    animation: 0.5s ease-out 0s 1 expand;
}

.game-history-connector.player-one {
    background-color: var(--primary-connector);
}

.game-history-connector.player-two {
    background-color: var(--secondary-connector);
}

@keyframes expand {
    0% {
        height: 0px;
    }
    100% {
        height: 50px;
    }
}
